h1 {
    color:  rgb(255, 255, 255);
    text-align: center;
    font-family:serif;   
}
h2 {
    color:  rgb(255, 255, 255);
    text-align: left;
    font-family:serif;  
    margin: 10px; 
    margin-bottom: -5px;
}
.body {
    margin: 20px;
    background-image: url(./fondo_espacial.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}   
#leyenda {
    color:rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
    margin-top: -20px;
    font-family:'Times New Roman', Times, serif;   
}
.menu {
    width: 90%;
    background-color: #562085cf;
    border-style: solid;
    border-color:rgba(137, 43, 226, 0.328);
    border-width: 1px;
    border-radius: 10px;
    margin:auto;
    max-width: 700px;
    min-height: 270px;
}
.astronauta {
    width: 100px;   
    border-radius: 10%;
    margin: 10px;   
    color: white;
}
.introduccion {
    display:flex;
}
.division {
    border-color: blueviolet;
    border-radius: 70%;
    width: 90%;
    height: 2px;
    background-color:rgba(255, 255, 255, 0.511);
}
.int {
    margin: 10px;
    color: white;
    justify-content: center;
}
.pie {
    display:block;
}
.piet {
    margin: -10px 10px;
    font-size: 75%;
    text-align: center;
    border-color: white;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6) ;
    border-width: 1px;
    background: linear-gradient(rgb(105, 29, 155),rgba(128, 27, 159, 0.8),rgba(128, 30, 143, 0.9));
}
.log {
    width: 90%;
    background-color: #562085cf;
    border-style: solid;
    border-color:rgba(137, 43, 226, 0.328);
    border-width: 1px;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    max-width: 700px;
}
.lista {
    color: white;
}
li {
    margin-bottom: 10px;
    margin-left: 10px;
}